<div>
    <H1>Create New Appointment Time</H1>
    <input type="text" id='datetime-input'>
    <button type="button" id='apt-btn'>Submit</button>
</div>
    <H3>Available time slots:</H3>
    <ul>
        {{#each schedules as |schedule|}}
        {{> groomer-schedule}}
        {{/each}}
    </ul>
<div class="container">
    <div class="row">
        {{#each reservations as |reserve|}}
        {{> reservation-details}}
        {{/each}}
  </div>
</div>

<script src="/js/schedule.js"></script>