<div>
    <h2>Reservation</h2>
    <form class="form reserve-form">
        <div class="form-group">
            <label for="first-name">First Name:</label>
            <input class="form-input" type="text" id="first-name"/>
        </div>
        <div class="form-group">
            <label for="last-name">Last Name:</label>
            <input class="form-input" type="text" id="last-name"/>
        </div>
        <div class="form-group">
            <label for="pet-name">Pet Name:</label>
            <input class="form-input" type="text" id="pet-name"/>
        </div>
        <div class="form-group">
            <label for="phone-input">Phone Number:</label>
            <input class="form-input" type="tel" id="phone-input"/>
        </div>
        <div class="form-group">
            <label for="notes-input">Notes:</label>
            <input class="form-input" type="text" id="notes-input"/>
        </div>
        <div>
            <button class="btn btn-primary" type="submit" id="reserve-btn">Reserve Appointment</button>
        </div>
    

</div>



{{!-- {{#each reservation as |???|}}
{{> ??? }}
{{/each}} --}}